@import "./global-variables.scss";

header {
  position: sticky;
  top: 0;
  z-index: 1;
  @media screen and (max-width: $lg) {
    padding: 0 5%;
  }
  @include theme-aware("background-color", "header");
  @include shadow;
  padding: 0 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .lets-talk {
    border: 1px solid;
    @include theme-aware("border-color", "heading");
    padding: 1.5% 3%;
    box-sizing: border-box;
    border-radius: 5px;
    @media screen and (max-width: $sm) {
      display: none;
    }
  }

  h1 {
    @media screen and (max-width: $sm) {
      flex-grow: 0;
    }
    flex-grow: 1;
    //   font-family: "Work Sans", sans-serif;
    // font-style: normal;
    // font-weight: 600;
  }
  .menu {
    display: none;
    img {
      @include theme-aware("filter", "filter");
    }
    @media screen and (max-width: $sm) {
      display: block;
    }
  }
  .theme-icon {
    img {
      @include theme-aware("filter", "filter");
    }
    @media screen and (max-width: $sm) {
      display: block;
      flex-grow: 0;
    }
    text-align: right;
    flex-grow: 2;
  }

  nav {
    @media screen and (max-width: $sm) {
      display: none;
    }
    flex-grow: 4;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

    // & > * {
    //   font-family: Poppins;
    //   font-style: normal;
    //   font-weight: 500;
    //   @include theme-aware("color", "navItem");
    //   font-size: 20px;
    //   line-height: 30px;
    // }
  }
}

.topnav {
  display: none;
  @media screen and (max-width: $sm) {
    display: flex;
  }
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow-x: hidden;
  transition: 0.5s;
  @include theme-aware("background-color", "background2");
  a {
    text-align: center;
    margin: 1rem;
  }
}
